<%= tag.h3 style: @tag_style.h3 do %>
  <%= t('devise.mailer.unlock_instructions.header', app_name: @app.full_name) %>
<% end %>

<%= tag.p style: @tag_style.p do %>
  <%= t('mailer.greeting', user_name: @user.name) %>
<% end %>

<%= tag.p style: @tag_style.p do %>
  <%= t('devise.mailer.unlock_instructions.message') %>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse: collapse;">
  <tr>
    <td class="block" style="<%= @tag_style.td %>">
      <a href="<%= @url %>" style="<%= @tag_style.a %>">
        <strong style="color:#FFF">
          <%= t('devise.mailer.unlock_instructions.action') %>
        </strong>
      </a>
    </td>
  </tr>
</table>

<%= tag.p style: @tag_style.p do %>
  <%= t('mailer.manual_link_instructions') %><br />
  <div style="word-break: break-all; word-wrap: anywhere"><%= @url %></div>
<% end %>

<%= tag.p style: @tag_style.p do %>
  <%= t('mailer.regards', app_name: @app.full_name) %>
<% end %>
